.history {
    color: #fff;
}
.history h1 {
    font-style: italic;
    text-align: center;
}

.hint {
    padding: 10px;
    text-align: center;
    width: auto;
    border: 1px solid #fff;
    color: #dbdbdb;
}