html {
    font-family: 'Inter Tight', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    font-weight: 400;
    color: #000;
    min-width: 320px;
}

/* Nav */
#navbarText .nav-item:hover {
    border: 1px solid white;
    border-radius: 2px;
}
/* Nav */

/* Main Content */
.main-content {
    padding-left: 0;
    padding-right: 0;
}

.cards {
    margin: 0 !important;
}

/* Carousel */
.main-carousel {
    padding: 0;
}

.main-carousel .carousel-item {
    height: 70vh;
}

.main-carousel .carousel-item img {
    object-fit: fill;
}
/* Carousel */

/* Info */
.info-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    transition: all .3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.info-thumb a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.info-thumb img {
    max-width: 100%;
    max-height: 100%;
}

.info-card:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.info-thumbs {
    height: 50%;
    width: 70%;
    margin-bottom: 3px;
}

.info-card {
    box-sizing: border-box;
    height: calc(100% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    color: #000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.info-details {
    height: auto;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-details h4 a {
    text-align: center;
    font-size: 2rem;
    color: #000;
    font-weight: 500;
    display: block;
    overflow: hidden;
    text-decoration: none;
}

.info-details p {
    font-size: 20px;
    flex-grow: 3;
}

.info-bottom-details {
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #000;
    padding-top: 20px;
    margin-bottom: 0;
    margin-top: auto;
}

.info-bottom-details .date span {
    font-weight: bold;
}

.info-links a{
    color: #000;
}

.info-links a:hover{
    color: #dbdbdb;
}

.container {
    margin: 0;
}
/* Info */
/* Main Content */

/* Footer */
.footer {
    padding-top: 10px;
}

.footer h4 {
    text-align: center;
    color: #ccc;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid #666;
    padding-bottom: 3px;
}

.footer a {
    text-decoration: none;
    transition: all .3s;
}

.footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer a, .footer li {
    color: #c8c8c8;
}

.footer li a {
    display: block;
}

.footer-icons a {
    display: inline-block;
    margin-right: 15px;
    font-size: 20px;
}
/* Footer */